@import "spectre";
@import "verify_window";
@import "expired_window";
@import "grid";
@import "topics";
@import "card";

@import "vars";
@import "colors";

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

// Give everything in 'yield' margin to separate it.
#react-root {
  margin: 0px 0px 0px 0px;
  animation: fadein 1.5s;
}

body {
  @include body-text-font;
}

body.darkmode {
  background-color: #777;
}

h1, h2, h3, h4, h5, h6 {
  @include header-font;
}

.secondary-text {
  @include secondary-text;
}

.secondary-text.darkmode {
  color: $secondary-text-darkmode;
}

.disabled-text {
  @include disabled-text;
}

.accented-text {
  @include accented-text;
}

.sub-header {
  @extend .secondary-text;
  font-size: 16pt;
  margin-bottom: 20px;
}

.glyphicon {
  // vertical-align: baseline;
}

.glyphicon-ok {
  vertical-align: baseline;
}

.btn {
  @include application-text;
}


